@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    margin: 30px;
    background: yellow;
    /*add CSS here*/
    padding: 30px;
    padding-top:15px;
    padding-bottom:15px;
}

#subtitle {
    margin:30px;
    background: black;
    color: white;
    /*add CSS here*/
    padding-top:5px;
    padding-right:30px;
    padding-bottom:5px;
    padding-left:30px;
    
}

.topic {
    background: lightgray;
    /*add CSS here*/
    font-size: 20px;
    margin: 20px;
    margin-left: 100px;
    margin-right: 50px;
    display: inline-block;
}

